.card {
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--bg-elevated-2);
  border-radius: 0.3rem;
  border: solid var(--border-soft) 1px;
  box-shadow: var(--shadow-soft);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: var(--shadow-strong);
}

.cardInfos {
  display: flex;
  gap: 1.25rem;
  font-size: 1.5rem;
}

.cardButtons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 6rem;
}
