.gamesContainer {
  text-align: center;
  margin: 1rem 0;
}

.gamesContainer h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.gameList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  margin: auto;
  padding: 1.75rem;
  background-color: var(--bg-primary);
  border: solid var(--border-default) 1px;
  border-radius: 0.5rem;
}
