.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.inputName {
  outline: none;
  background-color: var(--text-secondary);
  color: var(--text-inverted);
  margin-top: 1rem;
  border-radius: 0.35rem;
  padding: 0.25rem 0.5rem;
  border: solid var(--border-default) 2px;
  font-size: 1rem;
  text-align: center;
}

.enterPin {
  background-color: var(--bg-question);
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.45rem;
  gap: 1rem;
  border-radius: 0.3rem;
  border: solid var(--border-soft) 1px;
  box-shadow: var(--shadow-soft);
  transition: box-shadow 0.3s ease;
}

.enterPin:hover {
  box-shadow: var(--shadow-strong);
}

.inputRoomPin {
  background-color: var(--text-secondary);
  width: 16rem;
  height: 4rem;
  padding: 0.75rem;
  color: var(--text-inverted);
  font-size: 1.75rem;
  text-align: center;
  border-radius: 0.35rem;
  outline: none;
  border: solid var(--border-default) 2px;
}

.enterRoomButton {
  width: 16rem;
  height: 4rem;
}
