.mainContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin: 2rem auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  background: none;
  color: var(--text-primary);
  border: none;
  outline: none;
  width: 20rem;
}

.title:hover {
  border: solid var(--text-primary) 1px;
}

.pageMarker {
  text-align: center;
  font-size: 1rem;
}

.pageButton {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}
